<h1 class="header">Blogotech Ruby On Rails Developpement</h1>
<p>Mise en place du framwork ruby on rails et apprentissage de celui-ci.</p>
<img id="logo" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.hiHVmX1xE8WV3IuH9aqPwQHaEo%26pid%3DApi&f=1" alt="Logo Ruby On Rails">
<ul id="ulisse">
    <li>Ruby On Rail est un framwork puissant écris en ruby.</li>
    <li>Il suit le modèle M.V.C (Model View Controller)</li>
    <li>Il nous facillite grandement la vie en automatisant certaine tâche.</li>
</ul>

<h1 class="header">Nous sommes actuellement dans un <%= @variable %>.</h1>